/* Center-align the entire window */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* Style buttons */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Style background */
.background {
    background-image: url('background-image.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background: hsla(263, 42%, 65%, 1);
    background: linear-gradient(90deg, hsla(263, 42%, 65%, 1) 0%, hsla(319, 77%, 86%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(263, 42%, 65%, 1) 0%, hsla(319, 77%, 86%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(263, 42%, 65%, 1) 0%, hsla(319, 77%, 86%, 1) 100%);
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-color: auto
}

/* Style images */
img {
    max-width: 100%;
    height: auto;
}

/* Style radio buttons */
input[type="radio"] {
    margin-right: 10px; 
}

/* Style submit buttons */
input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Style textboxes */
input[type="text"], input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

/* Style headings */
h1, h2, h3 {
    vertical-align: top;
    text-align: center;
    color: #333;
}

/* Style titles */
.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Style links */
a {
    text-decoration: none;
    color: #007bff;
}

/* Hover effect for links */
a:hover {
    text-decoration: underline; 
}

.new-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #011422; /* Border color */
    color: #01406a; /* Text color */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition on hover */
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 15px; /* Increase the right margin to add more space */
}
